<template>
  <b-container>
    <h1 class="text-center">Vue Assistant</h1>
    <router-view></router-view>

  </b-container>
</template>

<script>

export default {
  name: 'App',
  components: {
  },
  mounted(){
    // this.$router.push('/login');

  }
}
</script>

<style>

</style>
